<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- navbar -->
    <%- include("components/header",{username: username , profilePic:profilePic })%>
    <!-- navbar -->

    <h2>contact details:</h2>
    <h3>email:demo@email.com</h3>
</body>
</html>